@import variables
@import bootstrap

@media (max-width: $screen-xs-max)
	body
		background: #452A78
.nav-pills h4:first-child
	margin-right: 12px

@media (min-width: $screen-md-min)
	.nav-stacked-md > li
		float: none

.navbar-brand
	font-family: $font-family-serif

