{% load floppyforms %}

<form action="" method="post" data-form="transaction">
	{% csrf_token %}
	<div class="row">
		<div class="col-md-4">
			{% formrow form.paid_by %}
		</div>
		<div class="col-md-4">
			{% formrow form.paid_to %}
		</div>
		<div class="col-md-4">
			{% formrow form.amount %}
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			{% formrow form.memo %}
		</div>
		<div class="col-md-6">
			{% formrow form.category %}
		</div>
	</div>

	<div class="collapse" id="{% if form.prefix %}{{form.prefix}}-{% endif %}transaction-options">
		<div class="well">
			<div class="row">
				<div class="col-md-6">
					{% formrow form.notes %}
				</div>
				<div class="col-md-6">
					{% formrow form.paid_at %}
				</div>
			</div>
		</div>
	</div>

	<button class='btn btn-primary' type='submit'>Create Payment</button>
	<a class="btn btn-link" href="#{% if form.prefix %}{{form.prefix}}-{% endif %}transaction-options" data-toggle="collapse">Options</a>
</form>
