{% load floppyforms %}

<form action="" method="post" data-form="transaction">
	{% csrf_token %}
	<div class="row">
		<div class="col-md-4">
			{% formrow form.paid_by %}
		</div>
		<div class="col-md-4">
			{% formrow form.paid_to %}
		</div>
		<div class="col-md-4">
			{% formrow form.amount %}
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			{% formrow form.memo %}
		</div>
		<div class="col-md-6">
			{% formrow form.category %}
		</div>
	</div>

	<div class="transaction-sharers collapse">
		{% formrow form.sharers %}
	</div>

	<div class="transaction-split collapse">
		{% for field in form.member_fields %}
			{% formrow field %}
		{% endfor %}
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			Hidden Options
		</div>
		<div class="panel-body">
			{% formrow form.split %}
		</div>
	</div>

	<div class="collapse" id="transaction-options">
		<div class="well">
			<div class="row">
				<div class="col-md-6">
					{% formrow form.notes %}
				</div>
				<div class="col-md-6">
					{% formrow form.paid_at %}
				</div>
			</div>
		</div>
	</div>

	<button class='btn btn-primary' type='submit'>Create transaction</button>
	<a class="btn btn-link" href="#transaction-options" data-toggle="collapse">Options</a>
</form>
