# Latest Django 1.7 Stable, until 1.7 is released.
https://github.com/django/django/tarball/stable/1.7.x
# Not strictly required, but we will definitely be using it eventually.
Pillow==2.3.0
pytz==2013.9
django-floppyforms==1.1.1
# littleweaver-forms - @master until we reach a peggable point.
https://github.com/littleweaver/django-zenaida/tarball/master
