https://github.com/django/django/tarball/37f7f233f5f30c28ea60a7fbc272ffd296e2dbe1
# Not strictly required, but we will definitely be using it eventually.
Pillow==2.3.0
pytz==2013.9
django-floppyforms==1.1.1
