{% extends 'zenaida/__base.html' %}

{% load static %}

{% block title %}Argus{% endblock %}

{% block stylesheets %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static "argus/css/styles.css" %}" />
{% endblock stylesheets %}

{% block body-classes %}argus{% endblock %}

{% block navbar-brand %}Zenaida{% endblock %}

{% block javascripts %}
	{{ block.super }}
	<script src="{% static "zenaida/js/bootstrap/tab.js" %}"></script>
	<script src="{% static "argus/js/app.js" %}"></script>
{% endblock %}
