{% extends "argus/layouts/75_25_xs_switch.html" %}

{% load static zenaida %}

{% block title %}{{ group.name|default:group.slug }} – {{block.super }}{% endblock %}

{% block side_panel %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
				{{ group.name|default:group.slug }}
				{% if group.password %}
					<a href="{% url 'argus_group_logout' %}" class='pull-right'><i class='fa fa-fw fa-power-off'></i></a>
				{% endif %}
				<a href="{% url 'argus_group_update' slug=group.slug %}" class='pull-right'><i class='fa fa-gears fa-fw'></i></a>
				<a href="{{ group.get_absolute_url }}" class='pull-right'><i class='fa fa-th-list fa-fw'></i></a>
			</h3>
		</div>
		{% if not group.password %}
			<div class="panel-body">
				<div class="alert alert-warning">
					This group doesn’t have a password yet! Maybe you just created it. To keep your group’s information safe from snoopers and saboteurs, <a href="{% url 'argus_group_change_password' group.slug %}">protect it with a password</a>.
				</div>
			</div>
		{% endif %}
		<div class='list-group'>
			<div class='list-group-item'><h4>Members</h4></div>
			{% for member in members %}
				<a href="{{ member.get_absolute_url }}" class='list-group-item'>
					<strong>{{ member.name }}</strong><br />
					<span class='{% if member.balance < 0 %}text-success{% else %}text-danger{% endif %}'>{% if member.balance < 0 %}Owed{% else %}Owes{% endif %} {{ member.balance|absolute_value|format_money:group.currency }}</span>
				</a>
			{% endfor %}
			<a href="{% url 'argus_party_create' group_slug=group.slug %}" class='list-group-item'><span class="fa fa-plus"></span> Add Member</a>


			{% with categories=group.categories.all %}
				<div class='list-group-item'><h4>Categories</h4></div>
				{% for category in categories %}
					<a href="{{ category.get_absolute_url }}" class='list-group-item'>{{ category.name }}</a>
				{% endfor %}
				<a href="{% url 'argus_category_create' group_slug=group.slug %}" class='list-group-item'><span class="fa fa-plus"></span> New Category</a>
			{% endwith %}
		</div>
	</div>{# /.panel #}
{% endblock side_panel %}

{% block javascripts %}
	{{ block.super }}
	<script src="{% static "zenaida/js/bootstrap/dropdown.js" %}"></script>
{% endblock %}

