{% extends "argus/layouts/75_25.html" %}

{% block title %}{{ group.name|default:group.slug }} – {{block.super }}{% endblock %}

{% block navbar-collapse %}
	<ul class="nav navbar-nav">
		<li><a href="{{ group.get_absolute_url }}">{{ group.name|default:group.slug }}</a></li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
		<li><a href="{% url 'argus_group_update' slug=group.slug %}">Settings</a></li>
		{% if group.password %}
			<li><a href="{% url 'argus_group_logout' %}">Logout</a></li>
		{% endif %}
	</ul>
{% endblock navbar-collapse %}

{% block side %}
	<div class="panel panel-default">
		<div class="panel-heading">
			{% if group.password %}
				<div class="pull-right"><a href="{% url 'argus_group_logout' %}">Logout</a></div>
			{% endif %}
			<h3 class="panel-title">{{ group.name|default:group.slug }}</h3>
		</div>
		<div class="panel-body">
			

			{% if not group.password %}
				<div class="alert alert-warning">
					This group doesn’t have a password yet! Maybe you just created it. To keep your group’s information safe from snoopers and saboteurs, <a href="{% url 'argus_group_change_password' group.slug %}">protect it with a password</a>.
				</div>
			{% endif %}

			<h4>Members</h4>
			<ul>
				{% for member in members %}
					<li><a href="{{ member.get_absolute_url }}">{{ member.name }}: {{ member.balance }}</a></li>
				{% endfor %}
				<li><a href="{% url 'argus_party_create' group_slug=group.slug %}"><span class="glyphicon glyphicon-plus"></span> Add Member</a></li>
			</ul>

			{% with categories=group.categories.all %}
				<h4>Categories</h4>
				<ul>
					{% for category in categories %}
						<li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
					{% endfor %}
					<li><a href="{% url 'argus_category_create' group_slug=group.slug %}"><span class="glyphicon glyphicon-plus"></span> New Category</a></li>
				</ul>
			{% endwith %}
		</div>{# /.panel-body #}
	</div>{# /.panel #}
{% endblock side %}

