{% extends "argus/__group.html" %}

{% load floppyforms zenaida %}

{% block main_panel %}
	<div class="modal fade" id="expenseForm" tabindex="-1" role="dialog" aria-labelledby="expenseFormLabel" aria-hidden="true">
		<form action="" method="post">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="expenseFormLabel">New transaction</h4>
					</div>
					<div class="modal-body">
						{% csrf_token %}
						{% form form using "argus/forms/transaction.html" %}
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button class='btn btn-primary' type='submit'>Save</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">
				Expense Log
				<a class='pull-right' href='#' data-toggle='modal' data-target='#expenseForm'><i class='fa fa-plus'></i></a>
			</h2>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>Paid at</th>
					<th>Paid by</th>
					<th>Paid to</th>
					<th>Memo</th>
					<th>Amount ({{ group.currency }})</th>
					{% if not category %}<th>Category</th>{% endif %}
					<th>Sharers</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for transaction in recent_transactions|slice:":10" %}
					<tr>
						<td>{{ transaction.paid_at|date:"Y-m-d H:i:s" }}</td>
						<td><a href="{{ transaction.paid_by.get_absolute_url }}">{{ transaction.paid_by.name }}</a></td>
						<td><a href="{{ transaction.paid_to.get_absolute_url }}">{{ transaction.paid_to.name }}</a></td>
						<td>{{ transaction.memo }}</td>
						<td>{{ transaction.amount|format_money:group.currency }}</td>
						{% if not category %}<td><a href="{{ transaction.category.get_absolute_url }}">{{ transaction.category.name }}</a></td>{% endif %}
						<td>
							{% for party in group.parties.all %}
								{% for share in transaction.shares.all %}
									{% if share.party_id == party.pk %}
										<a href="{{ party.get_absolute_url }}" title="{{ share.amount }} ({{ share.percentage }}%)">{{ party.name }}</a>
									{% endif %}
								{% endfor %}
							{% endfor %}
						</td>
						<td><a href="{% url 'argus_transaction_update' group_slug=group.slug pk=transaction.pk %}"><i class='fa fa-fw fa-pencil'></i></a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock main_panel %}
