{% extends "argus/__group.html" %}

{% load floppyforms %}

{% block main %}
	<ul class="nav nav-tabs margin-trailer">
		<li class="active"><a href="#expense-tab" data-toggle="tab">New Expense</a></li>
		<li><a href="#payment-tab" data-toggle="tab">New Member to Member Payment</a></li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane active" id="expense-tab">
			{% include "argus/forms/transaction_form.html" with form=expense_form only %}
		</div>
		<div class="tab-pane" id="payment-tab">
			{% include "argus/forms/payment_form.html" with form=payment_form only%}
		</div>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th>Paid at</th>
				<th>Paid by</th>
				<th>Paid to</th>
				<th>Memo</th>
				<th>Amount ({{ group.currency }})</th>
				{% if not category %}<th>Category</th>{% endif %}
				<th>Sharers</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for transaction in recent_transactions|slice:":10" %}
				<tr>
					<td>{{ transaction.paid_at|date:"Y-m-d H:i:s" }}</td>
					<td><a href="{{ transaction.paid_by.get_absolute_url }}">{{ transaction.paid_by.name }}</a></td>
					<td><a href="{{ transaction.paid_to.get_absolute_url }}">{{ transaction.paid_to.name }}</a></td>
					<td>{{ transaction.memo }}</td>
					<td>{{ transaction.amount }}</td>
					{% if not category %}<td><a href="{{ transaction.category.get_absolute_url }}">{{ transaction.category.name }}</a></td>{% endif %}
					<td>
						{% for party in group.parties.all %}
							{% for share in transaction.shares.all %}
								{% if share.party_id == party.pk %}
									<a href="{{ party.get_absolute_url }}" title="{{ share.amount }} ({{ share.percentage }}%)">{{ party.name }}</a>
								{% endif %}
							{% endfor %}
						{% endfor %}
					</td>
					<td><a href="{% url 'argus_transaction_update' group_slug=group.slug pk=transaction.pk %}"><i class='glyphicon glyphicon-pencil'></i></a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock main %}
