{% extends "argus/__base.html" %}

{% block title %}{{ category.name }} – {{ category.group.name }} – {{block.super }}{% endblock %}

{% block content %}
<pre>Name: {{ category.name }}</pre>
<pre>Group: <a href="{{ category.group.get_absolute_url }}">{{ category.group }}</a></pre>
<pre>Total expense: {{ total_expense }}</pre>

<p><a href="{% url 'argus_category_update' group_slug=category.group.slug pk=category.pk %}">Edit category</a></p>

<table>
	<thead>
		<tr>
			<th>Paid at</th>
			<th>Paid by</th>
			<th>Paid to</th>
			<th>Memo</th>
			<th>Cost ({{ category.group.currency }})</th>
		</tr>
	</thead>
	<tbody>
		{% for expense in recent_expenses|slice:":10" %}
			<tr>
				<td>{{ expense.paid_at|date:"Y-m-d H:i:s" }}</td>
				<td><a href="{{ expense.member.get_absolute_url }}">{{ expense.member.name }}</a></td>
				<td>{{ expense.memo }}</td>
				<td>{{ expense.cost }}</td>
				{% if category.group.use_categories %}
					<td>{{ expense.category }}</td>
				{% endif %}
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
