{% extends "argus/__base.html" %}

{% block content %}
	<h1><a href="{{ group.get_absolute_url }}">{{ group.name|default:group.slug }}</a></h1>

	<h2>Add an expense</h2>

	<form action="{{ request.path }}" method="post">
		{% csrf_token %}
		{% if form.expense_form %}
			{{ form.management_form }}
			<table>{{ form.expense_form.as_table }}</table>
			<h3>Shares</h3>
			{{ form.non_form_errors }}
			{% for form in form.forms %}
				<h4>{{ form.member }}</h4>
				{{ form.non_field_errors }}
				<table>{{ form.as_table }}</table>
			{% endfor %}
		{% else %}
			<table>{{ form.as_table }}</table>
		{% endif %}
		<button type="submit">Record expense</button>
	</form>
{% endblock %}
