<h1><a href="{{ group.get_absolute_url }}">{{ group.name|default:group.slug }}</a></h1>

<h2>Add an expense</h2>

<form action="{{ request.path }}" method="post">
    {% csrf_token %}
    <table>
        {{ wizard.management_form }}
        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% if wizard.form.non_form_errors %}
                <tr>
                    <td>{{ wizard.form.non_form_errors }}</td>
                </tr>
            {% endif %}
            <tr><td>Total cost: {{ wizard.form.total_cost }} {{ wizard.form.group.currency }}</td></tr>
            {{ wizard.form.input_type_form }}
            {% for form in wizard.form.forms %}
                <tr><td>{{ form.member.name }}</td></tr>
                {{ form }}
            {% endfor %}
        {% else %}
            {{ wizard.form }}
        {% endif %}
    </table>
    {% if wizard.steps.prev %}
        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">first step</button>
        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">prev step</button>
    {% endif %}
    <button type="submit">next step</button>
</form>

<table>
</table>
</form>