{% extends "argus/__base.html" %}

{% block content %}
	<h1><a href="{{ group.get_absolute_url }}">{{ group.name|default:group.slug }}</a></h1>

	<form action="{{ request.path }}" method="post">
		{% csrf_token %}
		<table>
		{{ form.as_table }}
		</table>
		<button type="submit">Save changes</button>
	</form>

	{% if group.confirmed_email %}
		<p>Confirmed email: {{ group.confirmed_email }}</p>
	{% endif %}
	{% if group.email and group.email != group.confirmed_email %}
		<p>Unconfirmed email: {{ group.email }}</p>
	{% endif %}

	<p><a href="{% url 'argus_group_change_password' slug=group.slug %}">{% if group.password %}Change{% else %}Add{% endif %} password</a></p>
{% endblock%}