{% extends "argus/__base.html" %}

{% block grouplink %}<a href="{{ group.get_absolute_url }}">{{ group.name|default:group.slug }}</a>{% endblock grouplink %}

{% block content %}
	<h1><a href="{{ group.get_absolute_url }}">{{ group.name|default:group.slug }}</a></h1>

	<p><a href="{% url 'argus_group_update' slug=group.slug %}">Edit group settings</a></p>

	{% if group.password %}<p><a href="{% url 'argus_group_logout' %}">Logout</a></p>{% endif %}


	{% with members=group.members.all %}
		<ul class="nav nav-pills">
			<li><h4>Members</h4></li>
			{% if members %}
				{% for member in members %}
					<li><a href="{{ member.get_absolute_url }}">{{ member.name }}: {{ member.balance }}</a></li>
				{% endfor %}
			{% endif %}
			<li><a href="{% url 'argus_member_create' group_slug=group.slug %}"><span class="glyphicon glyphicon-plus"></span></a></li>
		</ul>
	{% endwith %}

	{% with recipients=group.recipients.all %}
		<ul class="nav nav-pills">
			<li><h4>Recipients</h4></li>
			{% if recipients %}
				{% for recipient in recipients %}
					<li><a href="{{ recipient.get_absolute_url }}">{{ recipient.name }}</a></li>
				{% endfor %}
			{% endif %}
			<li><a href="{% url 'argus_recipient_create' group_slug=group.slug %}"><span class="glyphicon glyphicon-plus"></span></a></li>
		</ul>
	{% endwith %}

	{% if group.use_categories %}
		{% with categories=group.categories.all %}
			<ul class="nav nav-pills">
				<li><h4>Categories</h4></li>
				{% if categories %}
					{% for category in categories %}
						<li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
					{% endfor %}
				{% endif %}
				<li><a href="{% url 'argus_category_create' group_slug=group.slug %}"><span class="glyphicon glyphicon-plus"></span></a></li>
			</ul>
		{% endwith %}
	{% endif %}


	<h2>Record a New Expense</h2>
	<p>
		<a href="{% url 'argus_payment_create' group_slug=group.slug %}" class="btn btn-primary">Member to Member</a>
		<a href="{% url 'argus_even_create' group_slug=group.slug %}" class="btn btn-primary">Even Split</a>
		<a href="{% url 'argus_manual_create' group_slug=group.slug %}" class="btn btn-primary">Uneven Split</a></p>


	<table class="table">
		<thead>
			<tr>
				<th>Paid at</th>
				<th>Paid by</th>
				<th>Paid to</th>
				<th>Memo</th>
				<th>Cost ({{ group.currency }})</th>
				{% if group.use_categories %}
					<th>Category</th>
				{% endif %}
				<th>Sharers</th>
			</tr>
		</thead>
		<tbody>
			{% for expense in recent_expenses|slice:":10" %}
				<tr>
					<td>{{ expense.paid_at|date:"Y-m-d H:i:s" }}</td>
					<td><a href="{{ expense.member.get_absolute_url }}">{{ expense.member.name }}</a></td>
					<td><a href="{{ expense.recipient.get_absolute_url }}">{{ expense.recipient.name }}</a></td>
					<td>{{ expense.memo }}</td>
					<td>{{ expense.cost }}</td>
					{% if group.use_categories %}
						<td><a href="{{ expense.category.get_absolute_url }}">{{ expense.category.name }}</a></td>
					{% endif %}
					<td>
						{% for member in group.members.all %}
							{% for share in expense.shares.all %}
								{% if share.member_id == member.pk %}
									{{ member.name }}
								{% endif %}
							{% endfor %}
						{% endfor %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
