{% extends "argus/__base.html" %}

{% load floppyforms %}

{% block content %}
	<h1>Welcome to Argus</h1>
	<p>Hey there! Argus is really cool, and one day we'll write something about why you should use it. And then this will probably also stop being a list of groups because privacy.</p>
	{% if groups %}
		<h2>Existing Groups</h2>
		<ul>
			{% for group in groups %}
				<li><a href="{{ group.get_absolute_url }}">{{ group.name|default:group.slug }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<p>No groups have been created yet.</p>
	{% endif %}

	<form action="{% url 'argus_group_create' %}" method="post">
		{% csrf_token %}
		{% if form.non_form_errors %}
			{{ form.non_form_errors }}
		{% endif %}
		{{ form.management_form }}
		{% for subform in form.forms %}
			{% form subform %}
		{% endfor %}
		<button class="btn btn-primary">Create a group!</button>
	</form>
{% endblock %}
