{% extends "argus/__base.html" %}

{% load floppyforms %}

{% block title %}{{ group.name|default:group.slug }} Login – {{block.super }}{% endblock %}

{% block content %}
	<h1>Log in to {{ group.name|default:group.slug }}</h1>

	<form action="{{ request.path }}" method="post">
		{% csrf_token %}
		{% form form %}
		<button class='btn' type="submit">Login</button>
	</form>

	{% if group.confirmed_email %}<a href="{% url 'argus_group_password_reset' slug=group.slug %}">Send password reset email</a>{% endif %}
{% endblock content %}
