{% extends "argus/__group.html" %}

{% block grouplink %}<a href="{{ group.get_absolute_url }}">{{ group.name|default:group.slug }}</a>{% endblock grouplink %}

{% block content %}
	<h1><a href="{{ group.get_absolute_url }}">{{ group.name|default:group.slug }}</a> <a href="{% url 'argus_group_update' slug=group.slug %}"><span class="glyphicon glyphicon-cog small"></span></a></h1>

	{% if group.password %}<p><a href="{% url 'argus_group_logout' %}">Logout</a></p>{% endif %}

	<ul class="nav nav-pills">
		<li><h4>Members</h4></li>
		{% if members %}
			{% for member in members %}
				<li><a href="{{ member.get_absolute_url }}">{{ member.name }}: {{ member.balance }}</a></li>
			{% endfor %}
		{% endif %}
		<li><a href="{% url 'argus_party_create' group_slug=group.slug %}"><span class="glyphicon glyphicon-plus"></span></a></li>
	</ul>

	{% with categories=group.categories.all %}
		<ul class="nav nav-pills">
			<li><h4>Categories</h4></li>
			{% if categories %}
				{% for category in categories %}
					<li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
				{% endfor %}
			{% endif %}
			<li><a href="{% url 'argus_category_create' group_slug=group.slug %}"><span class="glyphicon glyphicon-plus"></span></a></li>
		</ul>
	{% endwith %}


	<h2>Record a New Expense</h2>
	<p>
		<a href="{% url 'argus_payment_create' group_slug=group.slug %}" class="btn btn-primary">Member to Member</a>
		<a href="{% url 'argus_even_create' group_slug=group.slug %}" class="btn btn-primary">Even Split</a>
		<a href="{% url 'argus_manual_create' group_slug=group.slug %}" class="btn btn-primary">Uneven Split</a></p>


	<table class="table">
		<thead>
			<tr>
				<th>Paid at</th>
				<th>Paid by</th>
				<th>Paid to</th>
				<th>Memo</th>
				<th>Amount ({{ group.currency }})</th>
				<th>Category</th>
				<th>Sharers</th>
			</tr>
		</thead>
		<tbody>
			{% for transaction in recent_transactions|slice:":10" %}
				<tr>
					<td>{{ transaction.paid_at|date:"Y-m-d H:i:s" }}</td>
					<td><a href="{{ transaction.paid_by.get_absolute_url }}">{{ transaction.paid_by.name }}</a></td>
					<td><a href="{{ transaction.paid_to.get_absolute_url }}">{{ transaction.paid_to.name }}</a></td>
					<td>{{ transaction.memo }}</td>
					<td>{{ transaction.amount }}</td>
					<td><a href="{{ transaction.category.get_absolute_url }}">{{ transaction.category.name }}</a></td>
					<td>
						{% for party in group.parties.all %}
							{% for share in transaction.shares.all %}
								{% if share.party_id == party.pk %}
									<a href="{{ party.get_absolute_url }}">{{ party.name }}</a>
								{% endif %}
							{% endfor %}
						{% endfor %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
