{% extends "argus/layouts/50_50.html" %}

{% load static floppyforms %}

{% block javascripts %}
	{{ block.super }}
{% endblock %}

{% block left %}
	<h1>Welcome to Argus</h1>
	<p>Argus is an easy way to keep track of shared expenses for small groups. Use Argus to let people know when you spend money, see who owes who, and settle your balances.</p>

	<h1>Try Argus</h1>
	<p>Start using Argus immediately. Enter the names of the members of your group below (you can always add members later) to create your group page.</p>

	<form id="create-form" action="{% url 'argus_group_create' %}" method="post">
		{% csrf_token %}

		{% if form.non_form_errors %}
			{{ form.non_form_errors }}
		{% endif %}
		{{ form.management_form }}

		<div id="formset-container">
			{% for subform in form.forms %}
				{% form subform %}
			{% endfor %}
		</div>

		<button class="btn btn-primary">Create a group!</button>
	</form>

	{# Form template placed outside of <form> to prevent browser-side validation errors when submitting. #}
	{% form form.empty_form using %}
		{% for field in form.visible_fields %}
			<div id="form-empty" class="control-group hidden">
				<label class="control-label" for="{{ field|id }}">{{ field.label }}{% if field.field.required %} <span class="required">*</span>{% endif %}{% if field.label|last not in ".:!?" %}:{% endif %}</label>
				<div class="controls {{ classes }} field-{{ field.name }}">
					{% formfield field %}
				</div>
			</div>
		{% endfor %}
	{% endform %}

{% endblock left %}

{% block right %}
	{% if groups %}
		<h2>Existing Groups</h2>
		<ul>
			{% for group in groups %}
				<li><a href="{{ group.get_absolute_url }}">{{ group.name|default:group.slug }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<p>No groups have been created yet.</p>
	{% endif %}
{% endblock right %}
