{% extends "argus/__base.html" %}

{% block title %}{{ member.name }} – {{ member.group.name }} – {{block.super }}{% endblock %}

{% block content %}
  <pre>Name: {{ member.name }}</pre>
  <pre>Group: <a href="{{ member.group.get_absolute_url }}">{{ member.group }}</a></pre>
  <pre>Balance: {{ balance }} or {{ member.balance }}</pre>

  <p><a href="{% url 'argus_member_update' group_slug=member.group.slug pk=member.pk %}">Edit member</a></p>

  <table>
    <thead>
      <tr>
        <th>Paid at</th>
        <th>Paid by</th>
        <th>Paid to</th>
        <th>Memo</th>
        <th>Total cost ({{ member.group.currency }})</th>
        {% if member.group.use_categories %}
          <th>Category</th>
        {% endif %}
        <th>Share of cost</th>
      </tr>
    </thead>
    <tbody>
      {% for share in recent_shares|slice:":10" %}
        <tr>
          <td>{{ share.expense.paid_at|date:"Y-m-d H:i:s" }}</td>
          <td><a href="{{ share.expense.member.get_absolute_url }}">{{ share.expense.member.name }}</a></td>
          <td>{% if share.expense.split == share.expense.PAYMENT_SPLIT %}
            <a href="{{ share.member.get_absolute_url }}">{{ share.member.name }}</a>
            {% else %}
            {{ share.expense.recipient }}
            {% endif %}
          </td>
          <td>{{ share.expense.memo }}</td>
          <td>{{ share.expense.cost }}</td>
          {% if member.group.use_categories %}
            <td>{{ share.expense.category }}</td>
          {% endif %}
          <td>{{ share.amount }} ({{ share.percentage }}%)</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
